.ui-badge {
  position: relative;
  vertical-align: middle;
  display: inline-block;
}

.ui-badge-content {
  background-color: #f56c6c;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  padding: 0 6px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #fff;
}

.ui-item {
  margin-right: 40px;
}

.ui-badge-content.fixed {
  position: absolute;
  top: 0;
  right: 10px;
  transform: translateY(-50%) translateX(100%);
}

.ui-badge-content.dot {
  height: 8px;
  width: 8px;
  padding: 0;
  right: 0;
  border-radius: 50%;
}

.ui-badge-content.fixed.dot {
  right: 5px;
}

.ui-position {
  margin-top: 10px;
  margin-right: 40px;
}

