#tests
test
coverage

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml

#linters
.jscsrc
.jshintrc
.eslintrc*

#editor settings
.idea
.editorconfig

#showcase
showcase

node_modules
public
src
.gitignore
.npmignore
.nvmrc

#generated
docs

dist

